includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#return type has no value type specified in iterable type#'
    level: max
    paths:
        - src
        - tests
